@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



body,html{
    margin: 0;
    padding: 0;
    background-color: #202122; 

    /* box-sizing: border-box; */
    font-family: 'Poppins';
    /* font-size: 20px; */
    /* line-height:24px ; */
    /* font-weight:500 ; */
    color: #dfdfdf;

    
    /* background-color: var(--bgc); */
    
  }


 :root{
    --bgc:#202122;
    --btn:#646ee4;
    --color:#dfdfdf;
 } 
/* .dark {
    @apply bg-black text-white;
  }

.light {
    @apply bg-white text-black
} */
  